﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="MIO.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <br />
    <div class="jumbotron">
     <table style="width: 100%; background-image: url('Images/131386.jpg'); background-repeat: no-repeat;">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">𝕯𝖊𝖘𝖎𝖌𝖓𝖙 𝖆𝖓𝖉 𝖉𝖊𝖛𝖊𝖔𝖑𝖕𝖊𝖉 𝖇𝖞<br />
𝕽𝖔𝖒𝖆𝖓 𝖁. 𝕭𝖔𝖑𝖔𝖓k𝖎𝖓<br />
P𝖍𝖔𝖓𝖊 004523275048<br /></td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td style="font-size: xx-large; color: #3333CC;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        </div>
</asp:Content>
